<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>  
      <add key="usrname" value=""/>  
      <add key="javaPath" value=""/>  
      <add key="memory" value="1024"/>  
      <add key="GameHeight" value="720"/>  
      <add key="GameWidth" value="1280"/>  
      <add key="LaunchMode" value="mcLauncher"/>  
      <add key="passwd" value=""/>  
      <add key="online" value="false"/>  
      <add key="twitch" value="false"/>  
      <add key="autoconnect" value="false"/>
      <add key="ip" value=""/>
      <add key="port" value=""/>
      <add key="title" value="RELauncher2"/>
    </appSettings> 
      
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
