<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="usrname" value=""/>
    <add key="javaPath" value=""/>
    <add key="memory" value="1024"/>
    <add key="GameHeight" value="720"/>
    <add key="GameWidth" value="1280"/>
    <add key="LaunchMode" value="mcLauncher"/>
    <add key="passwd" value=""/>
    <add key="online" value="false"/>
    <add key="twitch" value="false"/>
    <add key="autoconnect" value="false"/>
    <add key="ip" value=""/>
    <add key="port" value=""/>
    <add key="title" value="RELauncher2"/>
    <add key="memMax" value="4096"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="setSelect" value="0"/>
    <add key="BingDaily" value="true"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
